@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Bree Serif", serif;
    box-sizing: border-box;
}

body{
    height: 2000px;
}
header {
    display: flex;
    background-color: #eee;
    width: 100%;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    }
.logo {
    color: darkred;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
   
}
nav a {
    color: darkred ;
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    padding-left: 20px;  
}
nav a:hover {
    color: blue;
    font-weight: 900;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('https://i.pinimg.com/564x/8a/fe/9c/8afe9cb9e38e6d62c23c1c02e8b06678.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
   .content{
       padding: 100px 150px

   }

    .content h2 {
        color: black;
        font-size: 40px;
        font-weight: bold; 
    }
    .content h2 span{
        color: darkred
    }
    .content h3 {
        color:black;
         font-size: 50px;
        font-weight: bold; 
    }
    .contact-me{
        display: inline-block;
        color:white;
        background-color: black;
        padding: 10px;
        border-radius: 5px 15px;
        text-decoration: none;
        ;margin-bottom: 20px;
        transition: 0.5s ease;
    }
    .contact-me:hover{
        background-color: darkred;
        transform: scale(1.1)
    }
    a{
        color: black;
        font-size: 35px;
        padding-right: 25px;
        transition: 0.2s ease;
        margin: 05px
    }
    a:hover{
        color: darkred;
        transform: scale(1.1)
    }


/*//////////////////////////////////////////////*/
.our-services{
    text-align: center;
    background-color: #eee;
    
}
.our-services h2{
    color: darkred;
    font-size: 35px;
}
.our-services p {
    color: black;
    font-size: 22px;
    margin: 35px

    }

.Services{
    display: flex;

}
.BOX {
    background-color: #ffffff;
    padding: 35px;
    margin:10px ;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    transition: all 0.5s ease

}
.BOX:hover{
    background-color: #f6f6f6;
        border-radius: 5px;
    box-shadow: 0 5px 5px darkred;
  transform: scale(1.1);

}
.icon{
    color: darkred;
    font-size: 40px;
}
.BOX h3 {
    font-size: 30px
}
.portfolio{
    text-align: center;
}

.pictures{
    display: flex;  
}
.picture{
    margin: 70px
}

.pictures img{
    width: 30%
}


.portfolio h2{
    color: darkred;
    font-size: 35px;
}
.portfolio p {
    color: black;
    font-size: 22px;
    margin: 35px
    }

    .contact{
        background-color: #eee;
        text-align: center;
    }
.contact h2{
    color: darkred;
    font-size: 35px;
}
.contact p {
    color: black;
    font-size: 22px;
    margin: 35px
    }
.contact-area{
    width:60%;
    background-color:white ;
    margin: 20px auto;
    padding: 35px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}
.form-input input{
    width: 60%;
    height: 40px;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 1px solid #d4d4d4;
}
.form-input textarea{
    width: 60%;
   margin-bottom: 20px;
   border-radius: 5px;
   border: 1px solid #d4d4d4;
}
.send{
    padding: 10px 20px;
    background-color: darkred;
    color: floralwhite;
    border-radius: 5px;
    border: none;
   cursor: pointer; 
   transition: all 0.5s ease

}

.send:hover{
    background-color: red;
      transform: scale(1.1);

}
footer{
    border-top: 5px solid darkred;
    background-color: #615e5e;
    padding: 50px;
    text-align: center;
    padding-top: 50px
}
footer p {
    color: white;
    font-size: 23px;
    
}

  

    
  

